* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #33e0c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.container .containerC {
  background-image: url("img/1.jpg");
  position: absolute;
  width: 90%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.container .containerC .description {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
}

.container .containerC .description .logo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .containerC .description .logo img {
  height: 100%;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.container .containerC .description .text {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .containerC .description .text h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.7vmax;
}

.container .containerC .description .text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7vmax;
  text-align: center;
  line-height: 3vmax;
}

.container .containerC .form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.container .containerC .form .form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  gap: 5px;
}

.container .containerC .form .form1 .email {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .containerC .form .form1 .email .email1 {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30%;
  border-radius: 20px;
}

.container .containerC .form .form1 .button {
  color: white;
  font-size: 1vmax;
  background-color: #33e0c7;
  width: 20%;
  height: 30%;
  border-radius: 20px;
  cursor: pointer;
}

.container .containerC .form .form1 .button :hover {
  background-color: #04856f;
}

.container .containerC .form .formulario__input-error {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 5px;
  display: none;
}

.container .containerC .form .formulario__input-error-activo {
  display: block;
}

.container .containerC .form .formulario__mensaje {
  font-size: 90%;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background: #F66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.container .containerC .form .formulario__mensaje-activo {
  display: block;
}
/*# sourceMappingURL=styles.css.map */