*{
    margin: 0;
    padding: 0;
}

@mixin alignFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ffff;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(51, 224, 199 );
    @include alignFlex();

    .containerC{
        background:{
            image: url('img/1.jpg');
            repeat: no-repeat;
        }
        position: absolute;
        width: 90%;
        height: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;


       
    }
}
.logo{
    width: 10%;
    height: 10%;
}
